@model IEnumerable<ThAmCo.Events.Data.Guest>

@{
    ViewData["Title"] = "Index";
}

<h1>Create a New Guest Entry</h1>

<p>
    <a asp-action="Create">Add</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GuestId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GuestId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GuestId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>