@model IEnumerable<ThAmCo.Events.Data.Staffing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Staff First Name
            </th>
            <th>
                Staff Last Name
            </th>
            <th>
                Staff Email
            </th>
            <th>
                Staff Phone Number
            </th>
            <th>
                Event Title
            </th>
            <th>
                Assignment Date
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.StaffFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StaffingId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StaffingId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StaffingId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>